html, body, #root {
  height: 100%;
}

body {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

/*.map {
  margin-left: 25%;
}*/

.filter-container {
  /*border: solid 3px red;*/
  padding-bottom: 5px;
  background: #180AF4FF;
  font-size: 25px;
  width: 25%;
  height: 3em;
}

.filter-container h1 {
  padding-top: 10px;
  margin: 0;
  text-align: center;
}

.text-box {
  padding-top: 0;
  font-size: 20px;
  height: 1.5em;
  width: 99%;
}

.list-container {
  width: 25%;
  height: 100%;
  background: #808080FF;
}

.list-results {
  font-size: 20px;
  padding-left: 0;
  line-height: 2.2em;
  list-style: none;
}

.list-results li {
  padding-left: 0.5em;
  margin-bottom: 3px;
  color: #A3A3A3FF;
  background: #2B2B2BFF;
}

.results-container {
  height: 95.9%;
  overflow: auto;
}