body {
  margin: 0;
  padding: 0;
}

.map {
  margin-left: 25%;
}

.filter-container {
  /*border: solid 3px red;*/
  position: absolute;
  background: #180AF4FF;
  font-size: 25px;
  width: 25%;
  height: 3em;
}

.filter-container h1 {
  margin: 0;
  text-align: center;
}

.text-box {
  padding-top: 0;
  width: 99%;
}